.block-gym__container {
  padding: 120px 103px 235px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 85px;
}

.block-gym__info {

}

.block-gym__info p {
  max-width: 380px;
}


