.coach-info__more {
  display: none;
  // display: flex;
  // flex-direction: column;
}

.coach-info {
  position: relative;
  aspect-ratio: 260/294;
  cursor: pointer;
  background-color: $backgroundcolor-gray;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  &:hover .coach-info__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(16, 38, 84, 0.89);
    padding: 55px 20px 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.coach-info h3 {
  margin: 0;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  // left: 50%;
  // transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.coach-info__more h3 {
  position: static;
  margin-bottom: 10px;
}

.coach-info__more p {
  color: $backgroundcolor-gray;
  margin: 0;
  margin-bottom: 25px;
}

.coach-info__more ul {
  list-style: disc;
}

.coach-info__more li {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;

  &::marker {
    font-size: 1.2em;
  }
}


