.coaches__container {
  padding: 53px 47px 91px;
}

.coaches__container h2 {
  font-family: $ff-alumni;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  font-weight: 600;
  margin: 0;
  margin-bottom: 48px;
  padding-left: 58px;
}
