.membership {
  background-color: $backgroundcolor-light-gray;
  // background-image: linear-gradient (to bottom, $backgroundcolor-light-gray, $backgroundcolor-light-gray 90%, $color-default-white 90%);
  position: relative;

  // &::after {
  //   content: "";
  //   width: 321px;
  //   height: 384px;
  //   background-image: url("../img/weight-plates.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   z-index: 1;
  // }
}

.membership__container {
  padding: 120px 103px 80px;
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-1199) {
    padding: 100px 163px;
    align-items: stretch;
  }

  @media (max-width: $vp-767) {
    padding: 70px 15px;
    align-items: stretch;
  }
}

.membership__container h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
}

.membership__img {
  position: absolute;
  bottom: -153px;
  right: 0;
}
