.slider {
  display: flex;
}

.slider__line {
  margin: 0;
  padding: 0;
  padding: 0 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
}

.slider__button-arrow {
  width: 16px;
  position: relative;
  border: none;
  background-color: transparent;
  background-image: url("../../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider__prev {
  transform: rotate(-180deg);
}


