.social {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 130px;
  display: flex;

  @media (max-width: $vp-767) {
    margin-top: 40px;
  }
}

.social__item {
  margin-right: 11px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

svg {
  fill: #030a1a;
}
