.social {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 130px;
  display: flex;
}

.social__item {
  margin-right: 11px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social__link {
  display: inline-block;
  padding: 5px 10px;
  background-color: $color-default-white;
  border-radius: 50%;
  // width: 25px;
  // height: 25px;
}

svg {
  fill: #030a1a;
}
