.tabs__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 39px;
}

.tabs__item {
  margin-right: 46px;

  &:last-child {
    margin-right: 0;
  }
}

.tabs__item--active {
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.tabs__block {
  display: none;

  @media (max-width: $vp-1199) {
    flex-direction: column;
  }
}

.tabs__block--active {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
